<% imageAll %>
<% @allimages.each do |image|%>
  <%= image_tag image.image.url(:thumb) %>
  <%= debug @image %>
<%end%>
<a class="btn" href="#uploadImg" role="button" data-toggle="modal">Upload Image</a>

<div id="uploadImg" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Upload Image</h3>
  </div>
  <div class="modal-body">
    <%imageNew%>
    <%= form_for(@image, :html => { :multipart => true }) do |f| %>
    <div class="field">
      <%= f.file_field :image %>
    </div>
    <div class="actions">
      <%= f.submit "Create" %>
    </div>
  <% end %>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button id="updateImage" class="btn btn-primary">Submit</button>
  </div>
</div>


